.background{
  background-image: url("cf1feb16-531c-4c76-92d3-93eda8e5d8f.jpeg");
  background-size: cover;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
    padding-top: 250px;
    padding-left: 585px;
    color:white;
    text-shadow: 5px 5px 5px #000000;
}

input#password {
  padding: 5px;
  padding-right: 20px;
}
input#email {
  padding: 5px;
  padding-right: 20px;
}


.loginButton {
  width: 62%;
  margin-top: 20px;
  color: black;
  background-color: white;
}