
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
    padding-top: 450px;
    padding-left: 850px;
    background-color: rgba(255, 227, 227, 0.767);
}

input#password {
  padding: 5px;
  padding-right: 20px;
}
input#email {
  padding: 5px;
  padding-right: 20px;
}


.loginButton {
  width: 30%;
  margin-top: 20px;
}


